<div class="presentation-wrapper">
  <div class="presentation-top">
    <img
      src="./assets/images/illustration-nature-woman.png"
      alt="illustration d'une femme avec des plantes"
    />
  </div>
  <div class="presentation-title">
    <h3>{{'app.service' | translate}}</h3>
  </div>
  <div class="presentation-bottom">
    <div class="presentation-bottom__content">
      Avec la pharmacie Dupont prenez rendez-vous et commandez sur WhatsApp
    </div>
    <a
      href="https://www.whatsapp.com"
      target="_blank"
      rel="noopener noreferrer"
      mat-raised-button
      color="primary"
      class="btn-wapp"
    >
      <img
        src="./assets/images/whatsapp-icon-sm.svg"
        class="whatsapp-icon-sm"
        alt="whatsapp icon"
      />
      <span class="btn-label">WhatsApp</span>
    </a>
  </div>
</div>
