<section id="section-1">
  <app-bloc-title
    [title]="titleList[0]"
    [isDisplayFirstPict]="isDoctorFirstPict"
  ></app-bloc-title>
  <app-card></app-card>
</section>
<section id="section-2">
  <app-bloc-title [title]="titleList[1]"></app-bloc-title>
  <app-card></app-card>
</section>
<section id="section-3">
  <app-bloc-title
    [title]="titleList[2]"
    [isDisplayFirstPict]="isDoctorFirstPict"
  ></app-bloc-title>
  <app-card></app-card>
</section>
<section id="section-4">
  <app-bloc-title [title]="titleList[3]"></app-bloc-title>
  <app-card></app-card>
</section>
<section id="section-5">
  <app-bloc-title
    [title]="titleList[4]"
    [isDisplayFirstPict]="isDoctorFirstPict"
  ></app-bloc-title>
  <app-card></app-card>
</section>
