<footer>
  <div class="footer-top">
    <ul class="footer-brand">
      <img src="./assets/images/logo-lg.svg" alt="logo pharmacie dupont" />
      <p class="footer-brand-name">PHARMACIE DUPONT</p>
    </ul>
    <ul class="footer-location">
      <li class="footer-subtitle">PHARMACIE DUPONT</li>
      <li>2 rue de la Poste</li>
      <li>74000 Annecy</li>
    </ul>
    <ul class="footer-contact">
      <li class="footer-subtitle">CONTACT</li>
      <li>
        <mat-icon
          aria-hidden="false"
          aria-label="Exemple d'icône d'accueil"
          fontIcon="phone"
        >
        </mat-icon>
        <span> 04 50 50 50 50 </span>
      </li>
      <li>
        <mat-icon
          aria-hidden="false"
          aria-label="Exemple d'icône d'accueil"
          fontIcon="email"
        ></mat-icon>
        <span> contact@dupont.fr </span>
      </li>
    </ul>
    <ul class="footer-language">
      <p class="footer-subtitle">LANGUES</p>
      <div class="flags-wrapper">
        <img src="./assets/images/flag-fr.svg" alt="drapeau FR" />
        <img src="./assets/images/flag-de.svg" alt="drapeau DE" />
        <img src="./assets/images/flag-uk.svg" alt="drapeau UK" />
      </div>
    </ul>
  </div>
  <div class="footer-mid">
    <div class="footer-subtitle">NOUS REJOINDRE</div>
    <div class="social-links">
      <a href="https://www.twitter.com" target="_blank">
        <img
          src="./assets/images/twitter-logo.svg"
          class="logo-social-link"
          alt="twitter logo"
        />
      </a>
      <a href="https://www.facebook.com" target="_blank">
        <img
          src="./assets/images/facebook-logo.svg"
          class="logo-social-link"
          alt="facebook logo"
        />
      </a>
      <a href="https://www.whatsapp.com" target="_blank">
        <img
          src="./assets/images/whatsapp-logo.svg"
          class="logo-social-link"
          alt="whatsapp logo"
        />
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="footer-bottom__cgv">
      ©Pharmacie Dupont - 2023 -
      <a [routerLink]="['/conditions-generales-vente']"
        >Conditions générales de vente</a
      >
      -
      <a [routerLink]="['/conditions-generales-utilisation']"
        >Conditions générales d'utilisation</a
      >
    </p>
  </div>
</footer>
