<footer>
  <div class="footer-top">
    <ul class="footer-brand">
      <img src="./assets/images/logo-lg.svg" alt="logo pharmacie dupont" />
    </ul>
    <ul class="footer-location">
      <li class="footer-subtitle">PHARMACIE DUPONT</li>
      <li>2 rue de la Poste</li>
      <li>74000 Annecy</li>
    </ul>
    <ul class="footer-contact">
      <li class="footer-subtitle">CONTACT</li>
      <li>Tel : 04 50 50 50 50</li>
      <li>Mail : contact@dupont.fr</li>
    </ul>
    <ul class="footer-language">
      <p class="footer-subtitle">LANGUES</p>
      <div class="flags-wrapper">
        <img src="./assets/images/flag-fr.svg" alt="drapeau FR" />
        <img src="./assets/images/flag-de.svg" alt="drapeau DE" />
        <img src="./assets/images/flag-uk.svg" alt="drapeau UK" />
      </div>
    </ul>
  </div>
  <div class="footer-mid">
    <div class="footer-subtitle">NOUS REJOINDRE</div>
    <div class="social-links">
      <img src="./assets/images/twitter-logo.svg" alt="twitter logo" />
      <img src="./assets/images/facebook-logo.svg" alt="facebook logo" />
      <img src="./assets/images/whatsapp-logo.svg" alt="whatsapp logo" />
    </div>
  </div>
  <div class="footer-bottom">
    <p class="footer-bottom__cgv">
      ©Pharmacie Dupont - 2023 - Condition général de vente - Condition général
      d'utilisation
    </p>
  </div>
</footer>
