@font-face {
  font-family: Libre Baskerville;
  src: url('../../../assets/Inter-VariableFont_slnt\,wght.ttf');
}

#container-card{
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  font-family:  inter, sans-serif;
  min-width: 30%;
  @media screen and (min-width: 800px){
    min-width: 50%;
  }
  @media screen and (min-width: 1200px){
    min-width: 25%;
    margin-left: 3%;
    margin-inline: 0%;
  }
}

 #card-generic {
  display: flex;
  align-self: center;

    height: 450px;
    width: 330px;
    margin-left: 15%;
    margin-bottom: 0px;
    min-width: 90%;
    box-shadow: 5px 5px 10px rgba(102, 112, 112, 0.493);
    @media screen and (min-width: 800px){
      min-width: 50%;
      margin-left: 8%;
    }
    @media screen and (min-width: 1200px){
      min-width: 80%;

    }
  }

#product-name{
  align-self:center;
  margin-bottom:5px ;
  color: #4A5355;
  text-align: center;
}
#card-stars{
  margin-left: 20px;
}

.rating-stars {
  margin-top: 10px;
    mat-icon {

      font-size: 16px;

    }
    #star-icon {
    color: rgba(102, 112, 112, 0.817);
      }
    }


#discount-badge {
  position: absolute;
  width: 80px;
    min-height: 300px;
    top: 0;
    right: 0;
    background-image: url("../../../assets/images/badge-promo.svg");
    background-size: cover;
    text-align: center;
    color: white;
    padding: 2px;
    height: 50px;
    padding-top: 10px;
    padding-left: 30px;
    font-weight: bold;
  }

  #img-card{
    display: flex;
    align-self: center;
    margin: 30px;
    margin-right: 20% ;
    width: 150px;
    height:150px;
    object-fit: contain;
  }

#card-content{
background-color: rgba(102, 112, 112, 0.071);
min-height:50%;
max-height: 200px;
  overflow: auto;
  padding-top: 5px;
  color: #4A5355;
  @media screen and (min-width: 800px){
    min-width: 50%;
  }
  @media screen and (min-width: 1200px){
    min-width: 25%;

  }
}

#card-header{
  height:100%;
}

#card-description{
  margin-top: 5px;
}

.line{
  text-decoration: line-through;
}

#price-reduct{
  color: #D24A2C;
  font-weight: bold;
  margin-top: 2px;
}
