@font-face {
  font-family: Libre Baskerville;
  src: url('../../../assets/Inter-VariableFont_slnt\,wght.ttf');
}


#container-card{
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  margin-left: 2%;
  font-family:  inter, sans-serif;;
}


 #card-generic {
    height: 450px;
    width: 330px;
    margin-left: 11%;
    margin-bottom: 8px;
    min-width: 100%;
    box-shadow: 5px 5px 10px rgba(102, 112, 112, 0.493);
    @media screen and (min-width: 800px){
      min-width: 50%;
    }
    @media screen and (min-width: 1200px){
      min-width: 25%;

    }
  }


#card-header {

}
#product-name{
  position: absolute;
  align-self:center;
  margin-left: 30%;
}
#card-stars{
  margin-left: 20px;
}

.rating-stars {
  margin-top: 5%;
    mat-icon {

      font-size: 16px;
      margin-bottom: 5%;
    }
    #star-icon {
    color: rgba(102, 112, 112, 0.817);
      &.active{
      color: rgb(255, 230, 0);
      }
    }
  }

#discount-badge {
  position: absolute;
  width: 80px;
    min-height: 300px;
    top: 0;
    right: 0;
    background-image: url("../../../assets/images/badge-promo.svg");
    background-size: cover;
    text-align: center;
    color: white;
    padding: 2px;
    height: 50px;
    padding-top: 15px;
    padding-left: 25px;

  }
  #img-card{
    display: flex;
  align-self: center;
    margin: 30px;
    margin-right: 20% ;
    width: 150px;
    height: 150px;
    object-fit: contain;
  }

#card-content{
background-color: rgba(102, 112, 112, 0.071);
min-height:50%;
max-height: 200px;
  overflow: auto;
}

#card-header{
  height:100%;
}

#product-name{
text-align: center;
}

#card-description{
  margin: 20px;
}

.line{
  text-decoration: line-through;
}
#price{
  margin-top: 10px;
}

