<div id="container-form">
  <p i18n>
    Nous serions ravis de répondre à toutes vos questions et demandes de
    renseignements.<br />
    Veuillez remplir le formulaire ci-dessous et nous vous contacterons dans les
    plus brefs délais.
  </p>
  <div class="form-wrapper">
    <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input i18n
                  matInput
                  placeholder="Prénom"
                  formControlName="firstName"
                />
                <mat-error
                  *ngIf="addressForm.controls['firstName'].hasError('required')"
                  i18n >
                  Prénom est <strong>Obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Nom" formControlName="lastName" />
                <mat-error i18n
                  *ngIf="addressForm.controls['lastName'].hasError('required')"
                >
                  NOM est <strong>Obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Email" formControlName="email" />
                <mat-error i18n
                  *ngIf="addressForm.controls['email'].hasError('required')"
                >
                  Adresse email est <strong>Obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  placeholder="Message"
                  formControlName="message"
                ></textarea>
                <mat-error i18n
                  *ngIf="addressForm.controls['message'].hasError('required')"
                >
                  Le message de contact est <strong>Obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button
            id="button-envoyer"
            mat-raised-button
            color="primary"
            type="submit"
            i18n
          >
            <mat-icon
              aria-hidden="false"
              aria-label="icone envoyer"
              fontIcon="send"
            ></mat-icon>
            Envoyer
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
    <div class="img-wrapper">
      <img
        id="img-form"
        src="../../../assets/images/contact-form-women.png"
        alt="pharmacienne"
        i18n-alt
      />
    </div>
  </div>
</div>
