<section class="section-location">
  <div class="location-container">
    <div class="location__img-wrapper">
      <iframe
        title="map pharmacie dupont"
        src="https://www.openstreetmap.org/export/embed.html?bbox=6.902557611465455%2C46.434736672785135%2C6.916719675064088%2C46.44149446409994&amp;layer=mapnik&amp;marker=46.43811567320545%2C6.9096386432647705"
        style="border: 1px solid rgb(229, 229, 229)"
      ></iframe>
      <small>
        <a
          class="location-address"
          href="https://www.openstreetmap.org/?mlat=46.43812&amp;mlon=6.90964#map=17/46.43812/6.90964"
        >
          2 rue de la Poste Montreux 1822 Suisse
        </a>
      </small>
    </div>
    <div class="location__content">
      <h2>Nos Horaires</h2>
      <table aria-label="horaires d'ouverture" class="table-no-border">
        <tr>
          <th>Jour</th>
          <th>Matin</th>
          <th>Après-midi</th>
        </tr>
        <tr>
          <td>Lundi</td>
          <td>9h00 - 12h30</td>
          <td>14h00 - 18h00</td>
        </tr>
        <tr>
          <td>Mardi</td>
          <td>9h00 - 12h30</td>
          <td>14h00 - 18h00</td>
        </tr>
        <tr>
          <td>Mercredi</td>
          <td>9h00 - 12h30</td>
          <td>14h00 - 18h00</td>
        </tr>
        <tr>
          <td>Jeudi</td>
          <td>9h00 - 12h30</td>
          <td>14h00 - 18h00</td>
        </tr>
        <tr>
          <td>Vendredi</td>
          <td>9h00 - 12h30</td>
          <td>14h00 - 18h00</td>
        </tr>
      </table>
    </div>
  </div>
</section>
