<app-bloc-title
  [title]="titleList[0]"
  [isDisplayFirstPict]="isDoctorFirstPict"
></app-bloc-title>

<div class="twocards">
  <mat-card class="container-card">
    <mat-card-content class="mat-card">
      <div>
        <img
          id="img-about"
          mat-card-lg-image
          src="../../../../assets/images/about-flag.jpg"
        />
      </div>

      <div class="containt-wraper">
        <h2 class="title-aboutus">Qui sommes nous</h2>
        <p>
          La pharmacie de la mairie a été fondée en 1866 à Montreux. Le
          propriétaire était le Dr Dupont et la pharmacie s’appelait Pharmacie
          Dupont,English Pharmacy & Deutsche Apotheke.Au bénéfice d’un
          savoir-faire d’entreprise, acquis grâce à plus de dix ans
          d’expérience, chaque employée de la Pharmacie du Palace saura vous
          conseiller au mieux selon vos demandes. Nous proposons toute une gamme
          de produits de première qualité Suisse.
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="container-card2">
    <mat-card-content class="mat-card2">
      <div class="containt-wraper2">
        <h2 class="title-aboutus2">Notre vision</h2>
        <p>
          Nous sommes à votre écoute et fournissons un service qui va au-delà de
          la simple vente,dans la plus grande discrétion et le respect du
          client. Nous sommes spécialisés dans la vente de cosmétiques exclusifs
          et de médecines naturelles, fabriquées en Suisse notamment. Il est
          également possible de passer des commandes par mail ou WhatsApp.
        </p>
      </div>
      <div>
        <img
          id="img-aboutus2"
          mat-card-md-image
          src="../../../../assets/images/img-aboutus-pot.jpg"
          alt="image pot de miel"
        />
      </div>
    </mat-card-content>
  </mat-card>
</div>
