<app-bloc-title
  [title]="titleList[0]"
  [isDisplayFirstPict]="isDoctorFirstPict"
></app-bloc-title>

<div class="twocards">
  <mat-card class="container-card">
    <mat-card-content class="mat-card">
      <div>
        <img
          id="img-about"
          mat-card-lg-image
          src="./assets/images/about-flag.jpg"
          alt="drapeau suisse"
        />
      </div>

      <div class="containt-wraper">
        <h2 class="title-aboutus">{{'app.titleAboutUs' | translate}}</h2>
        <p>
          {{'app.textAboutUs'| translate}}
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="container-card2">
    <mat-card-content class="mat-card2">
      <div class="containt-wraper2">
        <h2 class="title-aboutus2">{{ "app.notreVision" | translate}}</h2>
        <p>
          {{ 'app.textNotreVision' | translate }}
        </p>
      </div>
      <div>
        <img
          id="img-aboutus2"
          mat-card-md-image
          src="./assets/images/img-aboutus-pot.jpg"
          alt="image pot de miel"
        />
      </div>
    </mat-card-content>
  </mat-card>
</div>
