
<mat-card class="container-card">
  <mat-card-content>
    <div>
      <img id="img-about" mat-card-lg-image src="../../../../assets/images/about-flag.jpg" >
    </div>
    
    <div class="containt-wraper">
      <h2 class="title-aboutus">Qui sommes nous</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolores quia beatae eum qui in perspiciatis explicabo obcaecati quasi. Modi, nesciunt? Perferendis dicta vitae, incidunt magni eius aspernatur quis facere! </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. ipsum dolor sit amet consectetur adipisicing elit. </p>

  </div>
</mat-card-content>
</mat-card>


<mat-card class="container-card">
  <mat-card-content>
    <div>
      <img id="img-about" mat-card-lg-image src="../../../../assets/images/img-aboutus.pot.png" >
    </div>
    
    <div class="containt-wraper">
      <h2 class="title-aboutus">Qui sommes nous</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolores quia beatae eum qui in perspiciatis explicabo obcaecati quasi. Modi, nesciunt? Perferendis dicta vitae, incidunt magni eius aspernatur quis facere! </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. ipsum dolor sit amet consectetur adipisicing elit. </p>

  </div>
</mat-card-content>
</mat-card>
