<app-bloc-title
  [title]="title"
  [isDisplayFirstPict]="isDoctorFirstPict"
></app-bloc-title>
<section class="container container-right">
  <div class="section-left">
    <img src="./assets/images/livraison-service.png" alt="livraison" />
  </div>
  <div class="section-right">
    <h2 class="title">Services de livraison à domicile</h2>
    <p class="description">
      Pour votre plus grande commodité, la Pharmacie Dupont propose un service
      de livraison à domicile rapide et fiable. Nous comprenons que la réception
      de vos médicaments et produits de santé à votre porte est essentielle,
      surtout lorsque vous êtes dans l'incapacité de vous rendre en personne à
      la pharmacie. Votre santé est notre priorité absolue, et nous veillons à
      vous offrir un service de livraison efficace. Notre équipe dévouée
      s'assure que vos médicaments sont emballés en toute sécurité et livrés
      dans les délais impartis. Nous nous engageons à respecter la
      confidentialité de vos informations médicales et à garantir la discrétion
      lors de la livraison.
    </p>
  </div>
</section>
<section class="container container-left">
  <div class="section-left">
    <h2 class="title">Location et vente de matériel</h2>
    <p class="description">
      Nous comprenons que l'accès à du matériel médical de qualité est essentiel
      pour votre bien-être à domicile. C'est pourquoi nous proposons des
      services de location et de vente de matériel médical pour répondre à vos
      besoins spécifiques. Que vous ayez besoin d'équipements pour la mobilité,
      la surveillance de la santé ou d'autres domaines, nous avons une vaste
      sélection de produits de qualité suisse. Notre équipe expérimentée est là
      pour vous guider dans le choix du matériel le mieux adapté à vos besoins
      individuels. Nous vous offrons des solutions pratiques et fiables, vous
      permettant de maintenir une qualité de vie optimale à domicile
    </p>
  </div>
  <div class="section-right">
    <img src="./assets/images/location-service.png" alt="location" />
  </div>
</section>
<section class="container container-right">
  <div class="section-left">
    <img src="./assets/images/depistage-service.png" alt="depistage" />
  </div>
  <div class="section-right">
    <h2 class="title">Le déspistage</h2>
    <p class="description">
      La Pharmacie Dupont met à votre disposition des services de dépistage
      rapides et précis pour détecter et prévenir divers problèmes de santé. Nos
      experts hautement qualifiés vous accompagnent avec une grande attention
      afin de réaliser un diagnostic précoce et de vous fournir des conseils
      éclairés. Nous comprenons l'importance cruciale d'un dépistage précis pour
      une prise en charge rapide et adaptée. Notre équipe médicale utilise des
      techniques de dépistage avancées pour évaluer votre état de santé. Que ce
      soit pour des dépistages sanguins, des tests diagnostiques ou des examens
      spécialisés, nous sommes équipés pour répondre à vos besoins.
    </p>
  </div>
</section>
<section class="container container-left">
  <div class="section-left">
    <h2 class="title">Vaccination</h2>
    <p class="description">
      Faites confiance à notre équipe qualifiée pour vos besoins en matière de
      vaccination. À la Pharmacie Dupont, nous accordons une grande importance à
      la protection de la santé publique grâce à la vaccination. Nos
      professionnels de la santé sont spécialement formés pour administrer en
      toute sécurité une variété de vaccins, contribuant ainsi à prévenir les
      maladies évitables et à renforcer l'immunité de la communauté. Nous
      proposons une gamme complète de vaccins recommandés par les autorités
      sanitaires compétentes. Que ce soit pour les vaccinations infantiles, les
      rappels pour adultes ou les vaccins spéciaux pour les voyageurs, nous
      sommes là pour vous offrir un service sûr et efficace.
    </p>
  </div>
  <div class="section-right">
    <img src="./assets/images/vaccination-service.png" alt="Vaccination" />
  </div>
</section>
