.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 3rem;
  @media screen and (min-width: 1000px) {
    height: auto;
    flex-direction: row;
  }
  .card-product-details {
    color: #4a5355;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4fcf1;
    box-shadow: 0 4px 4px #4a535546;
    padding: 2rem;
    width: clamp(20rem, 90%, 48.75rem);
    height: 100%;
    @media screen and (min-width: 712px) {
      width: clamp(20rem, 60%, 48.75rem);
    }
    @media screen and (min-width: 1000px) {
      width: clamp(20rem, 90%, 48.75rem);
      flex-direction: row;
    }
    .discount-badge {
      position: absolute;
      top: -2px;
      right: 0;
      width: 5rem;
      height: 18.75rem;
      background-image: url("../../../assets/images/badge-promo.svg");
      background-size: cover;
      text-align: center;
      color: white;
      padding-top: 0.7rem;
      padding-left: 1.875rem;
      font-weight: 800;
    }
    .card-thumbnail-pictures-wrapper {
      display: flex;
      flex-direction: row;
      height: 100%;
      margin-block: 1rem;
      > *:nth-child(2) {
        margin-inline: 1rem;
      }
      @media screen and (min-width: 1000px) {
        flex-direction: column;
        > *:nth-child(2) {
          margin-inline: 0;
          margin-block: 1rem;
        }
      }
      .card-thumbnail-picture {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.875rem;
        height: 6.875rem;
        background-color: white;
        cursor: pointer;
        &.active {
          border: 1px solid #4a535523;
        }
        img {
          height: 80%;
          width: auto;
          max-height: 50px;
          object-fit: contain;
        }
      }
    }
    .card-main-picture {
      background-color: white;
      width: 100%;
      min-width: 16.25rem;
      height: 22.75rem;
      display: flex;
      justify-content: center;
      padding: 2rem;
      margin-bottom: 1rem;
      margin-left: 0;
      &.active {
        border: 1px solid #4a535523;
      }
      @media screen and (min-width: 1000px) {
        margin-left: 2rem;
        margin-bottom: 0;
      }
      img {
        height: auto;
        width: calc(100% - 2rem);
        object-fit: contain;
      }
    }
    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 0;
      @media screen and (min-width: 1000px) {
        height: 22.75rem;
        padding-left: 2rem;
      }
      .product-title {
        font-weight: 500;
        font-size: 1.75rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        @media screen and (min-width: 1000px) {
          margin-top: 0;
          margin-bottom: 1rem;
        }
      }
      .product-description {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 1rem;
        @media screen and (min-width: 1000px) {
          margin-bottom: 0.5rem;
        }
      }
      .product-rating {
        display: flex;
        margin-bottom: 1rem;
        height: 2rem;
        font-size: 2rem;
        @media screen and (min-width: 1000px) {
          margin-bottom: 0.5rem;
        }
        .star-icon {
          margin-right: 0.3rem;
          color: rgba(102, 112, 112, 0.817);
        }
      }
      .price-wrapper {
        margin-bottom: 1rem;
        @media screen and (min-width: 1000px) {
          margin-bottom: 0;
        }
        display: flex;
        align-items: center;
        .price-reduct,
        .price-no-reduct {
          font-weight: bold;
          font-size: 1.56rem;
        }
        .price-reduct {
          color: #d24a2c;
        }
      }
      .btns-wrapper {
        display: flex;
        align-items: start;
        button:nth-child(2) {
          margin-inline: 1rem;
        }
        button {
          background: transparent;
          border: none;
          transition: filter 0.15s ease-out;
          cursor: pointer;
          &:hover {
            filter: drop-shadow(0 4px 4px #4a535546)
              drop-shadow(0 8px 8px #4a535546);
          }
          img:not(.return-icon) {
            height: auto;
            width: 3rem;
          }
          .return-icon {
            height: auto;
            width: 2rem;
          }
          &:last-child {
            margin-top: 0.2rem;
            margin-left: auto;
          }
        }
      }
    }
  }
}
