<div class="card-container">
  <div class="card-product-details">
    <div class="discount-badge" *ngIf="product.isDiscount">
      -{{ product.discountPercentage }}%
    </div>
    <div class="card-thumbnail-pictures-wrapper">
      <div
        [class]="
          i === indexImgSelected
            ? 'card-thumbnail-picture active'
            : 'card-thumbnail-picture'
        "
        *ngFor="let imageUrl of product.imagesUrl; let i = index"
      >
        <img
          [src]="imageUrl"
          alt="image du produit"
          (click)="handleClickImg(i)"
        />
      </div>
    </div>
    <div [ngSwitch]="indexImgSelected" class="card-main-picture active">
      <img
        *ngSwitchCase="0"
        class="img-card"
        [src]="product.imagesUrl[0]"
        alt="image.product"
      />
      <img
        *ngSwitchCase="1"
        class="img-card"
        [src]="product.imagesUrl[1]"
        alt="image.product"
      />
      <img
        *ngSwitchCase="2"
        class="img-card"
        [src]="product.imagesUrl[2]"
        alt="image.product"
      />
      <img
        *ngSwitchDefault
        class="img-card"
        [src]="product.imagesUrl[0]"
        alt="image.product"
      />
    </div>
    <div class="card-content">
      <h3 class="product-title">{{ product.name }}</h3>
      <p class="product-description">{{ product.description }}</p>
      <div class="product-rating">
        <mat-icon
          class="star-icon"
          *ngFor="let star of [1, 2, 3, 4, 5]"
          [ngClass]="{ active: star <= product.rating }"
          [style.color]="
            star <= product.rating ? 'rgba(255, 179, 0, 0.749)' : ''
          "
          >star
        </mat-icon>
      </div>

      <div class="price-wrapper" [class.discounted]="product.isDiscount">
        <p *ngIf="product.isDiscount" class="line">
          <del>{{ product.price | currency : " " : "symbol" : "1.2-2" }}€</del
          >&nbsp;
        </p>
        <p class="price-reduct" *ngIf="product.isDiscount">
          &nbsp;{{
            calculateDiscountedPrice(product)
              | currency : " " : "symbol" : "1.2-2"
          }}€
        </p>
        <p class="price-no-reduct" *ngIf="!product.isDiscount">
          {{ product.price | currency : " " : "symbol" : "1.2-2" }}€
        </p>
      </div>
      <div class="btns-wrapper">
        <button>
          <img
            src="./assets/images/add-basket-product-icon.svg"
            alt="icone ajouter au panier le produit"
          />
        </button>
        <button>
          <img
            src="./assets/images/add-favorite-product-icon.svg"
            alt="icone mettre en favoris le produit"
          />
        </button>
        <button>
          <img
            src="./assets/images/remove-basket-product-icon.svg"
            alt="icone enlever du panier le produit"
          />
        </button>
        <button (click)="goToProductsList()">
          <img
            src="./assets/images/return-icon.svg"
            alt="icone enlever du panier le produit"
            class="return-icon"
          />
        </button>
      </div>
    </div>
  </div>
</div>
