<section class="section-newsletter">
  <div class="newsletter-container">
    <div class="newsletter__img-wrapper">
      <img
        src="./assets/images/avene-products-newsletter.jpg"
        class="newsletter__img"
        alt="produits avene"
        i18n-alt
      />
    </div>
    <div class="newsletter__content">
      <h2 i18n>Nouveautés & Promos</h2>
      <p i18n>Recevez les Nouveautés et Offres Spéciales en avant-première !</p>
      <form class="newsletter-form">
        <mat-form-field class="newsletter-email-input">
          <mat-label>Email</mat-label>
          <input i18n matInput placeholder="Entrez votre email..." />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="btn-newsletter"
          i18n
        >
          Abonnez-vous
        </button>
      </form>
    </div>
  </div>
</section>
