<section class="section-newsletter">
  <div class="newsletter-container">
    <div class="newsletter__img-wrapper">
      <img
        src="./assets/images/avene-products-newsletter.jpg"
        class="newsletter__img"
        alt="produits avene"
      />
    </div>
    <div class="newsletter__content">
      <h2>{{"app.titlenewletter"| translate}}</h2>
      <p>{{'app.textnewletter '| translate }}</p>
      <form class="newsletter-form">
        <mat-form-field class="newsletter-email-input">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Entrez votre email..." />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="btn-newsletter"
        >
         {{"app.abonnez" | translate}}
        </button>
      </form>
    </div>
  </div>
</section>
