<header>
  <div class="header-top">
    <div class="header-top__logo-wrapper">
      <img src="./assets/images/logo-header.svg" alt="logo" />
    </div>
    <p class="header-top__brand">Pharmacie Dupont</p>
  </div>
  <div class="header-bottom">
    <div class="header-bottom-wrapper">
      <button
        *ngFor="let menuHeaderItem of menuHeaderItems"
        mat-button
        class="link-header"
      >
        {{ menuHeaderItem.label }}
      </button>
    </div>
    <div class="select-btn-cat-wrapper" *ngIf="isSmallScreen">
      <mat-form-field class="select-btn-cat">
        <mat-label>Sélectionnez une catégorie</mat-label>
        <select matNativeControl [disabled]="disableSelect.value">
          <option value="" selected></option>
          <option *ngFor="let menuHeaderItem of menuHeaderItems" value="volvo">
            {{ menuHeaderItem.label }}
          </option>
        </select>
      </mat-form-field>
    </div>
  </div>
</header>
