// Import fonts
@font-face {
  font-family: wallpoet;
  src: url("./assets/typo/Wallpoet-Regular.ttf");
}

@font-face {
  font-family: Libre Baskerville;
  src: url("./assets/typo/LibreBaskerville-Italic.ttf");
}

@font-face {
  font-family: Inter;
  src: url("./assets/typo/Inter-VariableFont-slnt-wght.ttf");
}

// Import custom theme
@import "theme.scss";

// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: inherit;
}

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}
body {
  position: relative;
  margin: 0;
  font-family: inter, Roboto, wallpoet, sans-serif;
  color: #4a5355;
  background: #fafcf4;
}
ul {
  list-style: none;
}
app-root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.cdk-overlay-container {
  position: absolute;
  top: 4.2rem;
  right: 0;
  z-index: 100;
  width: 100%;
}
