/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Wallpoet&display=swap");

// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: inter, Roboto, "Helvetica Neue", sans-serif;
  background: #fafcf4;
}
