.navbar-top {
  display: none;
  @media screen and (min-width: 1100px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #eff7e1;
    color: #171818;
    padding-inline: 3rem;
    align-items: center;
    height: 39px;
    border-bottom: 1px solid #000000b7;
    box-shadow: 0 9px 9px #17181867;
    z-index: 20;
    .navbar-top__left {
      display: flex;
      align-items: center;
      img {
        margin-right: 0.5rem;
      }
      .call-wrapper,
      .timetable-wrapper,
      .shipping-wrapper {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
      }
    }
    .navbar-top__right {
      display: flex;
      align-items: center;
      img {
        margin-right: 0.5rem;
      }
      select {
        border: 1px solid #b0b6b9;
        font-family: inter, arial, sans-serif;
        color: #171818;
      }
    }
  }
}
.navbar {
  position: relative;
  z-index: 10;
  background-color: #124559ee;
  min-height: 70px;
  border-bottom: 4px solid #aec3b0;
  padding-left: 2rem;
  @media screen and (min-width: 500px) {
    padding-inline: 2rem;
  }
  .brand {
    font-family: Wallpoet, Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.175rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    img {
      margin-right: 1.5rem;
    }
    span {
      display: none;
      @media screen and (min-width: 500px) {
        display: inline;
      }
    }
  }
  .navbar-nav {
    position: relative;
    .nav-link {
      font-family: inter, Roboto, "Helvetica Neue", sans-serif;
      font-size: 1rem;
      margin-inline: 0.5rem;
      display: none;
    }
    .burger-btn-wrapper {
      display: block;
    }
  }
  .navbar-nav,
  .burger-btn-wrapper {
    margin-left: auto;
  }
  @media screen and (min-width: 1000px) {
    .navbar-nav .nav-link {
      display: inline;
      color: #aec3b0;
    }
    .navbar-nav .nav-link.active {
      color: white;
      &::after {
        content: "";
        position: absolute;
        top: 3.2rem;
        left: 50%;
        height: 4px;
        width: 100%;
        transform: translateX(-50%);
        background-color: white;
      }
    }
    .burger-btn-wrapper {
      display: none;
    }
  }
}
