<div class="navbar-top">
  <div class="navbar-top__left">
    <div class="call-wrapper">
      <img src="./assets/images/phone-icon-navbar.svg" alt="icone telephone" />
      <span>{{ "app.serviceClient" | translate }} </span>
    </div>
    <div class="timetable-wrapper">
      <img src="./assets/images/time-icon-navbar.svg" alt="icone telephone" />
      <span>{{ "app.horaire" | translate }} </span>
    </div>
    <div class="shipping-wrapper">
      <img
        src="./assets/images/shipping-icon-navbar.svg"
        alt="icone telephone"
      />
      <span>{{"app.livraison" | translate }}</span>
    </div>
  </div>
  <div class="navbar-top__right">
    <img src="./assets/images/language-icon-navbar.svg" alt="icone telephone" />
    <label for="lang">Langue:&nbsp;</label>
    <select  name="lang" id="lang">
      <option (click)="changeLanguageFr()" value="FR">FR</option>
      <option (click)="changeLanguageDe()" value="DE">DE</option>
      <option (click)="changeLanguageEn()" value="EN">EN</option>
    </select>
    
  </div>
</div>
<mat-toolbar color="primary" class="mat-elevation-z8 navbar">
  <div class="brand" (click)="redirectToHomepage()">
    <img src="./assets/images/logo.svg" alt="logo pharmacie Durant" />
    <span>{{ "app.logo" | translate }} </span>
  </div>
  <div class="ms-auto navbar-nav">
    <button
      *ngFor="let menuItemNav of menuItems; last as isLast"
      [routerLink]="menuItemNav.link"
      mat-button
      class="nav-link"
      routerLinkActive="active"
    >
    {{ menuItemNav.text | translate }}
      <div *ngIf="isLast">
        <img src="./assets/images/cart-icon-navbar.svg" alt="icone panier" />
      </div>
    </button>
  </div>
  <div class="ms-auto burger-btn-wrapper" *ngIf="isSmallScreen">
    <button mat-button [matMenuTriggerFor]="menuRef" class="burger-btn">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menuRef="matMenu" class="navbar-nav-mobile">
      <button
        *ngFor="let menuItem of menuItems; last as isLast"
        [routerLink]="menuItem.link"
        mat-menu-item
        class="nav-link"
      >
        <mat-icon> {{ menuItem.icon }}</mat-icon
        >{{ isLast ? "Panier" : menuItem.text }}
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
