<div class="navbar-top">
  <div class="navbar-top__left">
    <div class="call-wrapper">
      <img src="./assets/images/phone-icon-navbar.svg" alt="icone telephone" i18n-alt />
      <span i18n>Service client: 02 03 04 05 06</span>
    </div>
    <div class="timetable-wrapper">
      <img src="./assets/images/time-icon-navbar.svg" alt="icone telephone" i18n-alt />
      <span i18n>Lundi - Vendredi : 9h - 12h30 / 14h - 18h</span>
    </div>
    <div class="shipping-wrapper">
      <img
        src="./assets/images/shipping-icon-navbar.svg"
        alt="icone telephone"
        i18n-alt
      />
      <span i18n>Livraison en 24h/48h</span>
    </div>
  </div>
  <div class="navbar-top__right">
    <img src="./assets/images/language-icon-navbar.svg" alt="icone telephone" i18n-alt/>
    <label i18n for="pet-select">Langue:&nbsp;</label>
    <select name="pets" id="pet-select">
      <option i18n value="FR">FR</option>
      <option i18n value="DE">DE</option>
      <option i18n value="EN">EN</option>
    </select>
  </div>
</div>
<mat-toolbar color="primary" class="mat-elevation-z8 navbar">
  <div class="brand" (click)="redirectToHomepage()">
    <img src="./assets/images/logo.svg" alt="logo pharmacie Durant" i18n-alt />
    <span i18n>PHARMACIE DUPONT</span>
  </div>
  <div class="ms-auto navbar-nav">
    <button i18n
      *ngFor="let menuItem of menuItems; last as isLast"
      [routerLink]="menuItem.link"
      mat-button
      class="nav-link"
      routerLinkActive="active"
    >
      {{ menuItem.text }}
      <div *ngIf="isLast">
        <img src="./assets/images/cart-icon-navbar.svg" alt="icone panier" i18n-alt />
      </div>
    </button>
  </div>
  <div class="ms-auto burger-btn-wrapper" *ngIf="isSmallScreen">
    <button mat-button [matMenuTriggerFor]="menuRef" class="burger-btn">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menuRef="matMenu" class="navbar-nav-mobile">
      <button i18n
        *ngFor="let menuItem of menuItems; last as isLast"
        [routerLink]="menuItem.link"
        mat-menu-item
        class="nav-link"
      >
        <mat-icon> {{ menuItem.icon }}</mat-icon
        >{{ isLast ? "Panier" : menuItem.text }}
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
